<div id = 'edit'>
<h1>Editing Ebook</h1>

<br>
<%= render 'form', ebook: @ebook %>

<br>
<span><%= link_to 'Show', @ebook, class: "btn btn-outline-warning"  %></span> |
<span><%= link_to 'Back', welcome_index_path, class: "btn btn-outline-warning"%></span>
</div>